.header-wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(5vh, auto);

    background-color: rgb(223, 231, 230);
}

.logo-box {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
}

.logo {
    
    width: auto;
    height: 70%;
    box-sizing:border-box;
    background-image: url('../static/images/logo-black.png');
    background-size:cover;
    background-position: center center;
}


.line {
    grid-column: 1 / 21;
    grid-row: 4;

    border-style: none none solid none;
    border-width: 1px;
    border-color: gray;


}

.header-link {
    color: black;
}
.header-link:hover {
    color: gray;
}

.header-item-menu {
    grid-column: 5 / 17;
    grid-row: 4;
    background-color: rgb(223, 231, 230);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(2px, auto);

    border-style: none none solid none;
    border-width: 1px;
    border-color: gray;
}

.item2 {
    grid-column: 2;
    position: relative;

}
.item-name-style {
    font-family: 'sans-serif';
    font-weight: bold;
    
    font-size:1vw;
    position: absolute;
    bottom: 10%;
    left: 20%;
    text-align: center;
    width: 80%;
}

.item3 {
    grid-column: 3;
    position: relative;
}
.item4 {
    grid-column: 4;
    position: relative;
}
.item5 {
    grid-column: 5;
    position: relative;
}

.item1 {
    grid-column: 1;
    position: relative;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}
.item-box {
    grid-column: 5 / 17;
    grid-row: 1;

    border-style: none none solid solid;
    border-width: 1px;
    border-color: black;

    

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
}

.item1-image {
    grid-column: 3 / 6;
    grid-row: 2 / 20;

    box-sizing:border-box;
    background-image: url('../static/images/item-novedades.png');
    background-size:cover;
    background-position: center center;
}

.item1-field1 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item1-field1:hover {
    color: white;
}

.item1-field2 {
    grid-column: 1;
    grid-row: 6;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item1-field2:hover {
    color: white;
}

.item1-field3 {
    grid-column: 1;
    grid-row: 9;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item1-field3:hover {
    color: white;
}

.item2-image {
    grid-column: 3 / 6;
    grid-row: 2 / 20;

    box-sizing:border-box;
    background-image: url('../static/images/item-beach.png');
    background-size:cover;
    background-position: center center;
}

.item2-field1 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field1:hover {
    color: white;
}

.item2-field2 {
    grid-column: 1;
    grid-row: 6;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field2:hover {
    color: white;
}

.item2-field3 {
    grid-column: 1;
    grid-row: 9;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field3:hover {
    color: white;
}

.item2-field4 {
    grid-column: 1;
    grid-row: 12;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field4:hover {
    color: white;
}

.item3-image {
    grid-column: 3 / 6;
    grid-row: 2 / 20;

    box-sizing:border-box;
    background-image: url('../static/images/item-lingerie.png');
    background-size:cover;
    background-position: center center;
}

.item3-field1 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field1:hover {
    color: white;
}

.item3-field2 {
    grid-column: 1;
    grid-row: 6;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field2:hover {
    color: white;
}

.item3-field3 {
    grid-column: 1;
    grid-row: 9;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field3:hover {
    color: white;
}

.item3-field4 {
    grid-column: 1;
    grid-row: 12;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field4:hover {
    color: gray;
}


