.header-wrapper {
    background-color: rgb(206, 194, 194);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(20px, auto);
}

.logo {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-color: red;
}

.link {
    color: black;
}

.header-item-menu {
    grid-column: 5 / 17;
    grid-row: 4;
    background-color: rgb(206, 194, 194);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(2px, auto);
}

.item2 {
    grid-column: 2;
    font-family: 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size:0.8vw;
}
.item3 {
    grid-column: 3;
    font-family: 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size:0.8vw;
}
.item4 {
    grid-column: 4;
    font-family: 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size:0.8vw;
}
.item5 {
    grid-column: 5;
    font-family: 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size:0.8vw;
}

.item1 {
    grid-column: 1;
    font-family: 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size:0.8vw;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}
.item-box {
    grid-column: 5 / 17;
    grid-row: 1;
    background-color: rgb(206, 194, 194);

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(10px, auto);
}

.item1-field1 {
    grid-column: 1;
    grid-row: 2;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item1-field2 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item1-field3 {
    grid-column: 1;
    grid-row: 4;
    font-family: 'sans-serif';
    font-size:0.8vw;
}


.item2-field1 {
    grid-column: 1;
    grid-row: 2;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field2 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item2-field3 {
    grid-column: 1;
    grid-row: 4;
    font-family: 'sans-serif';
    font-size:0.8vw;
}

.item3-field1 {
    grid-column: 1;
    grid-row: 2;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field2 {
    grid-column: 1;
    grid-row: 3;
    font-family: 'sans-serif';
    font-size:0.8vw;
}
.item3-field3 {
    grid-column: 1;
    grid-row: 4;
    font-family: 'sans-serif';
    font-size:0.8vw;
}

